<header class="bg-[#040b1f] border-b border-slate-800 px-8 h-20 flex items-center justify-between">

    <div class="font-display text-[16px] flex items-center gap-6">

        <div>
            <img src="assets/logo/joboy-logo.png" alt="Joboy" class="h-10">
        </div>

        <a routerLink="/dashboard"
            class="bg-slate-800 text-yellow-400 px-4 py-2 rounded-xl font-bold text-sm cursor-pointer hover:bg-slate-700 transition">

            ADMIN

        </a>

        <nav class="flex items-center gap-8 text-gray-300">

            <div class="relative" (mouseenter)="showOperationsMenu = true" (mouseleave)="showOperationsMenu = false">

                <button class="flex items-center gap-2 px-4 py-2 rounded-xl bg-slate-800 text-white font-semibold">

                    Operations

                    <svg class="w-4 h-4 transition duration-200" [class.rotate-180]="showOperationsMenu" fill="none"
                        stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">

                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                    </svg>

                </button>

                @if(showOperationsMenu){

                <div class="absolute left-0 top-full pt-2 w-80 z-[9999]" (mouseenter)="showOperationsMenu = true"
                    (mouseleave)="showOperationsMenu = false">

                    <div class="bg-white rounded-2xl shadow-2xl border border-slate-200">

                        <div class="p-5">

                            <h4 class="text-xs font-bold uppercase tracking-widest text-slate-400 mb-4">
                                CLIENT BOOKINGS
                            </h4>

                            <div class="space-y-2">

                                <button *ngFor="let item of operationsMenu[0].items" (click)="navigate(item.route)"
                                    class="w-full flex items-center gap-3 px-3 py-3 rounded-xl text-left text-slate-600 hover:bg-slate-100 hover:text-blue-600 transition">

                                    <span class="text-lg">📋</span>

                                    <span class="font-medium">
                                        {{ item.name }}
                                    </span>

                                </button>

                            </div>

                        </div>

                    </div>

                </div>

                }

            </div>
            <!-- 
            <a href="#" class="flex items-center gap-1 hover:text-white transition">
                Finances
                <span></span>
            </a>

            <a href="#" class="flex items-center gap-1 hover:text-white transition">
                Personnel
                <span></span>
            </a> -->

        </nav>

    </div>

    <div class="w-[400px]">

        <div class="flex items-center bg-slate-800 border border-slate-700 rounded-2xl px-4 h-12">

            <span class="text-gray-400 mr-3">
                🔍
            </span>

            <input type="text" placeholder="Search bookings, providers, TXNs..."
                class="font-display w-full bg-transparent outline-none text-white placeholder:text-gray-400">

        </div>

    </div>

    <div class="flex items-center gap-5">

        <div class="relative group">

            <button (click)="toggleTheme()" class="text-white text-xl hover:text-yellow-400 transition">

                {{ isDarkMode ? '☀️' : '🌙' }}

            </button>

            <div class="absolute top-12 left-1/2 -translate-x-1/2
               whitespace-nowrap
               px-3 py-1 rounded-lg
               bg-slate-800 text-white text-xs
               opacity-0 invisible
               group-hover:opacity-100
               group-hover:visible
               transition duration-200">

                {{ isDarkMode ? 'Switch to Light Mode' : 'Switch to Dark Mode' }}

            </div>

        </div>

        <div class="relative text-xl text-white cursor-pointer">

            🔔

            <span
                class="absolute -top-2 -right-2 h-5 w-5 rounded-full bg-red-500 text-xs flex items-center justify-center font-semibold">
                38
            </span>

        </div>



        <div class="relative flex items-center gap-3 cursor-pointer" (click)="toggleProfileMenu()">

            <div class="text-right">
                <h4 class="font-display text-white font-semibold text-l">
                    {{ userName }}
                </h4>

                <small class="font-display text-yellow-400 text-s font-semibold">
                    ADMINISTRATOR
                </small>
            </div>

            <img [src]="profileImage" alt="Profile"
                class="h-12 w-12 rounded-full border-2 border-blue-500 object-cover">
            <span class="text-gray-300 text-lg">
                ⌄
            </span>
        </div>
        @if (showProfileMenu) {

        <div class="absolute top-16 right-0 w-80 bg-white rounded-xl shadow-2xl overflow-hidden z-50">

            <div class="p-6">

                <p class="text-slate-400 text-sm">
                    Signed in as
                </p>

                <h3 class="text-l font-bold text-slate-600">
                    {{ userEmail }}
                </h3>



            </div>

            <div class="border-t">

                <button (click)="goToProfile()"
                    class="font-display w-full flex items-center gap-4 px-6 py-4 hover:bg-slate-50 text-slate-600">

                    👤 My Account Profile

                </button>

                <button class="font-display w-full flex items-center gap-4 px-6 py-4 hover:bg-slate-50 text-slate-600">

                    🔒 Change Password

                </button>

                <button (click)="logout()"
                    class="font-display w-full flex items-center gap-4 px-6 py-4 text-red-500 hover:bg-red-50">

                    🚪 Sign Out Portal

                </button>

            </div>

        </div>

        }
    </div>

</header>